{% extends "mdb_base.html" %}

{% block content %}
    <div class="container-fluid vh-100">
        <div class="">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3>Sign Up</h3>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('auth_bp.signup') }}">
                        <div class="p-4">
                            <div class="input-group mb-3">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <button class="btn btn-primary text-center mt-2 btn-block"
                                    style="background-color: #123c69;" type="submit">
                                Register
                            </button>
                            <p class="text-center mt-5">Already have an account?
                                <span class="text-primary"><a href='{{ url_for('auth_bp.login') }}'
                                                              style="color: #123c69;">Sign In</a></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
